# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=...........
# Clerk Authentication
CLERK_SECRET_KEY=sk_test_...
CLERK_PUBLISHABLE_KEY=pk_test_...

# Google Gemini API
GEMINI_API_KEY=AIza...

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
